@font-face {
    font-family:"Gold";
    src: url('../fonts/Gold\ Lines\ Trial.otf') format('truetype');
}
@font-face {
    font-family:"Roger";
    src: url('../fonts/Gold\ Lines\ Serif\ Trial.otf') format('truetype');
}
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    background-color:#0776FB;
    color:white;
    height:100vh;
    display:flex;
    flex-direction:column;
}
header {
    background-color:#0776FB;
    font-family:'Gold';
    height:80px;
    text-align:center;
    padding-top:8px;
}
header h2 {
    font-size:1.6rem;
}
nav {
    background-color:#0776FB;
    font-family:Arial, Helvetica, sans-serif;
    font-size:.8rem;
    text-align:start;
    margin-bottom:10px;
    padding:2.5px;
    padding-bottom:3px;
}
a { 
    text-decoration:none;
    color:#ffffff;
    margin:5px;
    padding:8px;
    transition:.4s;
}
a:hover {
    text-decoration: underline;
    background-color:#008cff;
    border-radius:4px;
    color:white;
}
main {
    display:flex;
    justify-content:end;
    height:100%;
}
.cardapio {
    width:100%;
    display:flex;
    justify-content:start;
    flex-direction:column; 
}
main .sanji {
    border:1px solid black;
    border-radius:14px;
    margin:15px;
    margin-top:2px;
    height:90%;
    width:400px;
}
main .container {
    background-color:white;
    border:2px solid black;
    border-radius:8px;
    color:black;
    margin:5px;
    padding:3px;
    height:200px;
    width:300px; 
    display:flex;
}
.texto {
    height:100%;
    display:flex;
    align-items:start;
    justify-content:start;
    flex-direction:column;
    margin:5px;
    padding:3px;
}
.texto p {
    margin-top:15px;
}
main .container img {
    height:100%;
    width:140px;
}
footer {
    height:16px;
    text-align:center;
    padding:6px;
    width:100%;
}