@font-face {
  font-family:"Gold";
  src:url('../fonts/Gold\ Lines\ Trial.otf') format('truetype');
}

body {
  background-color:#338FD8;
  color:white;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  font-family:'Gold';
}
.loader-area {

}
.loader {
  height:40px;
  width:40px;
  border:2px solid rgba(255, 0, 0, 0);
  border-radius:50%;
  border-bottom:3.8px solid white;
  animation:loader 1s infinite ease-out reverse;
}
@keyframes loader {
  0%{transform:rotateZ(270deg);}
  50%{transform:rotateZ(90deg);}
  100%{transform:rotateZ(0deg);}
}