* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header {
    background-color: aquamarine;
    color:white;
    display:block;
}
main {
    height:100%;
    width:100%;
}
footer {
    background-color: aquamarine;
    color:white;
    display:block;
}